@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: gulim;
	background: #white;
}
header {
	top: 0;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 30px;
	background: #cdcdcd;
}
nav ul{
	height: 50px;
	line-height: 50px;
	background: #666;
}
nav ul li{
	list-style: none;
	float: left;
	padding: 0 15px;
}
a{
	text-decoration: none;
	color: #fff;
	font-weight: 500;
}
.btn{
	padding: 0.3rem;
}
a:hover, .btn:hover{
	cursor: pointer;
	opacity: 0.6;
}
section{
	width: 100%;
	
}

.title{
	margin: 2rem;
	font-size: 25px;
	font-weight: 900;
	text-align: center;
}
.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#joinTable td{
	padding: 8px;
}
.wrapper .button{
	text-align: center;
}
.main{
	margin: 2rem;
}
.wrapper table .button{
	width: 100px;
	height: 30px;
	margin: 5px;
}

.float-input, select{
	width: 40%;
	float: left; 
	font-size: 15px;
	margin-right: 0.5rem;
}


footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background: #333;
}